* {
  box-sizing: border-box;
}
body {
  background-color: rgb(55, 75, 111);
}
main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(16, 2.2vh);
  justify-items: center;
}
.card {
  --aquamarine: #00ff80;
  --black: black;
  --rose: #e30071;
  --white: white;

  aspect-ratio: 5/7;
  border: 0.5px solid black;
  border-radius: 1vw;
  background-color: var(--background-color, gold);
  color: var(--color, purple);
  display: grid;
  filter: drop-shadow(3px 3px 5px #0006);
  font-family: system-ui, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  grid-template-columns: 2ch 1fr 2ch;
  grid-template-rows: auto auto 1fr auto auto;
  padding: 0.3em;
  place-items: center;
  width: 20vw;
}
.card > .suit {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
.top-left.rank {
  grid-column: 1;
  grid-row: 1;
}
.top-left.suit {
  grid-column: 1;
  grid-row: 2;
}
.top-fool {
  grid-column: 5;
  grid-row: 1;
}
.center {
  font-size: 3em;
  grid-column: -1 / 1;
  grid-row: -1 / 1;
}
.bottom-right.rank {
  grid-column: 5;
  grid-row: 5;
  rotate: 180deg;
}
.bottom-right.suit {
  grid-column: 5;
  grid-row: 4;
  rotate: 180deg;
}
.bottom-fool {
  grid-column: 1;
  grid-row: 5;
  rotate: 180deg;
}
[id$="♣"] {
  --background-color: var(--aquamarine);
  --color: var(--black);
}
[id$="♦"] {
  --background-color: var(--black);
  --color: var(--aquamarine);
  border: 0.5px solid grey;
}
[id$="♥"] {
  --background-color: var(--white);
  --color: var(--rose);
}
[id$="♠"] {
  --background-color: var(--rose);
  --color: var(--white);
}
